<body>


<div id="all">


    <!-- *** LOGIN MODAL ***
_________________________________________________________ -->


    <!-- *** LOGIN MODAL END *** -->
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Lịch sử mua hàng</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb">

                        <li><a href="/">Trang chủ</a>
                        </li>
                        <li>Lịch sử mua hàng</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>


    <div id="content">
        <div class="container">


            <div class="row">

                <!-- *** LEFT COLUMN ***
         _________________________________________________________ -->

                <div class="col-md-9" id="customer-orders">

                    <p class="text-muted lead">Nếu có bất kì câu hỏi, vui lòng <a href="contact">liên lạc với chúng tôi</a>, hỗ trợ khách hàng 24/7.</p>

                    <div class="box">

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Mã</th>
                                    <th>Ngày</th>
                                    <th>Tổng</th>
                                    <th>Trạng thái</th>
                                    <th>Hoạt động</th>
                                </tr>
                                </thead>
                                <tbody>
                            {{#each listorder}}
                                <tr>
                                    <th>#{{this.id}}</th>
                                    <td>{{this.date}}</td>
                                    <td>{{this.total}} VNĐ</td>
                                    <td><span class="label label-info">{{this.status}}</span>
                                    </td>
                                    <td><a href="/order/{{@index}}" class="btn btn-template-main btn-sm">Xem</a>
                                    </td>
                                </tr>
                            {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->

                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col-md-9 -->

                <!-- *** LEFT COLUMN END *** -->



            </div>


        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->


</div>
</body>